
.landingpage-image-container {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: relative; /* Damit das Pseudo-Element im Container funktioniert */
  animation: fadeIn 3s forwards;
}

/* Bild (Hero-Image) */
.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Text über dem Bild */
.text-image h1 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  color: white !important; 
  text-align: center;
  text-shadow: none; 
  z-index: 10;
  font-size: 3.5rem;
}

.text-image p{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  color: white !important; 
  text-align: center;
  text-shadow: none; 
  z-index: 10;
  font-size: 2rem;
}

/* Pseudo-Element für das Overlay */
.landingpage-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Leichte Verdunkelung des Hintergrunds */
  z-index: 1; /* Stelle sicher, dass das Overlay unter dem Text bleibt */
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}